:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-bg: linear-gradient(108.16deg, rgba(36, 134, 224, 0.9) 0%, rgba(233, 0, 253, 0.7) 82.2%);
    --container-bg: #303030;
    --main-txt-color : #fff;
    --sub-main-txt-color: rgba(255, 255, 255, 0.5);
}

#password-confirm {
    opacity: 0;
}

.break {
    flex-basis: 100%;
    height: 0;
}

body {
    margin: 0;
    height: 100vh;
    background: var(--main-bg);
}

.svg {
    width: max(60%, 340px);
    display: flex;
    justify-content: center;
    padding-top: 19px;
    margin: 0 auto;
}

.container {
    display: block;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--container-bg);
    width: max(60%, 340px);
    height: 680px;
    border-radius: 120px;
}

@media only screen and (max-width: 1026px) {
    .container {
        height: 800px;
    }
}

#sign-up, #its-easy {
    display:flex;
    justify-content: center;
}

#sign-up {
    color: var(--main-txt-color);
    font-size: 3rem;
    padding-top: 33px;
}

#its-easy {
    color: var(--sub-main-txt-color);
    font-size: 1rem;
    padding-top: 7px;
}

input {
    font-family: inherit;
    font-size: 100%;
    width: 200px;
    height: 25px;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid rgb(36, 134, 224);
}

input:focus {
    outline: solid rgb(36, 134, 224) 2px;
}

input:valid {
    border-color: rgb(0, 255, 106);
    outline: solid rgb(0, 255, 106) 2px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.forms {
    padding: 20px 50px 0px 50px;
}

button {
    margin-top: 40px;
}

label {
    color: var(--main-txt-color);
}

#log-in {
    color: var(--main-txt-color);
    margin-top: 10px;
}

a {
    color: var(--main-txt-color);
}

#logo-link {
    outline: none;
}

button {
    font-family: inherit;
    color: #fff;
    background-color: rgba(36, 134, 224, 0.9);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 50px;
    width: 250px;
    font-size: 1.25rem;
    padding-bottom: 8px;
}

button:active {
    transform: translateY(2px);
}